[flake8]
max-line-length = 88
extend-ignore = 
    E203,
    W503,
    E501,
    D200,
    D401,
    D105,
    D107,
    D103,
    F401,
    F541,
    F841,
    W291
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    *.egg-info,
    .pytest_cache,
    .mypy_cache,
    .coverage
max-complexity = 10
